*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    color: rgb(48, 39, 79);
    margin-top: 300px;
    width: 100%;
    padding: 2vh;
    background-color: rgb(80, 121, 196);
    display: flex;    
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
